:root {
  --primary-text: hsl(238, 29%, 16%);
  --secondary-text: hsl(14, 88%, 65%);
  --text-dkblue: hsl(237, 12%, 33%);
  --text-gyblue: hsl(240, 6%, 50%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --divider: hsl(240, 5%, 91%);
}

html {
  box-sizing: initial;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(
    var(--gradient-violet),
    var(--gradient-blue)
  );
}

.card {
  position: relative;
  background: white;
  border-radius: 1.5rem;
  margin: 9.375rem 2.5rem auto 2.5rem;
  min-width: 20.5rem;
  background-image: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100;
}

.__box {
  display: none;
}

.__desktop {
  width: 100%;
  height: auto;
  max-width: 29.5rem;
  display: none;
}

.card__image {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.__mobile {
  transform: translateY(-55%) translateX(-5%);
  margin: auto;
  padding: 0;
}

.card__text {
}

@media (min-width: 56rem) {
  .card {
    display: flex;
    margin: 8rem auto;
    max-width: 57.6875rem;
    background-image: url("images/bg-pattern-desktop.svg");
    background-position: -491% 72%;
    background-size: 90%;
  }
  .__box {
    display: block;
    position: absolute;
    left: 0;
    top: 58%;
    transform: translateX(-70%) translateY(-50%);
    z-index: 1;
  }
  .__desktop {
    display: block;
  }
  .__mobile {
    display: none;
  }

  .card__image,
  .card__text {
    flex: 1;
  }
  .card__image {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .card__image img {
    transform: translateX(-5rem);
  }
}
